<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="jumbotron">
        <div class="container">
          <h1>About</h1>
          <p>This is a simple utility to figure out your best Facebook mates, along with those you haven't kept touch.</p>
          <ul>
            <li>Shows you your best mates along with those that's been a while</li>
            <li>Allows you to visit a friend's profile</li>
            <li><s>Allows you to send a message to a friend</s></li>
          </ul>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

    <% include ../partials/scripts %>
  </body>
</html>
